body {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 32px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper .btngroup {
  margin-top: 24px;
}
.wrapper .btngroup button {
  margin: 0 30px;
}

.row {
  display: flex;
  direction: row;
  justify-content: center;
  align-content: center;
}

span {
  width: 30px;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px dashed #999;
}

.row:nth-child(3n + 1) span {
  border-top: none;
}

.row:nth-child(1) span {
  border-top: 3px solid #333;
}

.row:nth-child(3n) span {
  border-bottom: 3px solid #333;
}

.row span:nth-child(3n + 1) {
  border-left: none;
}

.row span:first-child {
  border-left: 3px solid #333;
}

.row span:nth-child(3n) {
  border-right: 3px solid #333;
}

